

// iPhone X
@media only screen and (max-width: 375px) and (min-width: 375px) and (max-height: 812px) and (min-height: 812px)  {
    .main {
        width: 100%;

        &__content {
            width: 470px;
            height: 591px;

            &__top_section {
                grid-template-columns: 239.2px 2px 219.188px;


                &__first_container {
                    grid-template-columns: 0px 109.6px 0px 109.6px;
                }
            }

            &__bottom_section {
                grid-template-columns: 100%;
                height: 545px;
            }
        }
    }
    .yearlyTurnover {width:89%}
    .enterpriseClients {width:89%}
    .city {
        width: 56%;
        transform: translate(-19px, -4px);
        img {width: 90%;}
    }
    .locationContainer__content {
        width: 91%;

        #green_arrow {
            transform: translate(-13px, 12px);
        }
    }
    .earningsGraph {
        width: 345px;

        img {transform: translate(-300px, 24px);}

        &__graph_container {width: 55%;}
    }
    .analyticsGraph {
        width: 345px;

        &__btn {transform: translate(-96px, 5px);}
    }
    .statisticGraph {
        width: 345px;
        height: 247px;
    }
    .navbar {
        grid-template-columns: 53px 4px 59px 71px 47px 195px;
        &__text1 {font-size: 16px;}
        &__text2 {font-size: 16px;}
        &__text3 {font-size: 16px;}
        &__input {width:50%}
    }
    .menu {
        grid-template-columns: 87px 45px 85px 50px 72px;
        &__text-1 {font-size: 14px;}
        &__text-2 {font-size: 14px;}
        &__text-3 {font-size: 14px;}
        &__text-4 {font-size: 14px;}
        &__text-5 {font-size: 14px;}
    }

    .side_container {
        grid-template-rows: 80.2px 89.2px 97.2px 12px 97.2px 12px 97.2px 12px 80px 12px 215px;
        width: 80%;
    }


} // end of @media


// -------------------------------------------------------


// iPad
@media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 1024px) and (min-height: 1024px)  {
    .main {

        &__container {
            margin-left: 59%;
        }
        &__content {
            height: 785px;

            &__bottom_section {
                height: 608px;
            }
        }
    }
    .side_container {
        grid-template-rows: 97.2px 97.2px 97.2px 12px 97.2px 12px 97.2px 12px 80px 195px 215px;
    }
    
} // end of @media


// -------------------------------------------------------


// iPad Pro
@media only screen and (max-width: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1366px)  {
    .main {
        width: calc(100% - 372px);

        &__content {
            height: 1100px;
        }
    }
    .side_container {
        width: 372px;
        grid-template-rows: 97.2px 97.2px 97.2px 12px 97.2px 12px 97.2px 12px 80px 486px 215px
    }
} // end of @media